
body{
    background-color: rgb(246, 255, 193);
    background-size: 100%;
    min-height: 1000px;
}

#menu {
    background-color: rgb(246, 255, 193);
    text-align: center;
}

input {
    width: 300px;
    font-size: 14px;
}