<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKSHELF</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=1.10">
</head>
<body>
    <div class="columns">

        <div class="column is-one-quarter" id="menu">
            <div class="message is-link">
                <div class="message-header">
                    <strong >Меню</strong>
                </div>
                <div class="message-body">
                    <a href="{% url 'index' %}">Главная</a> <br>
                    <a href="{% url 'workspace' %}">Админ панель</a> <br>
                    <a href="{% url 'api' %}">API</a> <br>
                </div>
            </div>


        {% if filter %}
            <div class="message is-link">
                <div class="message-header">
                    <strong >Фильтры</strong>
                </div>
                <div class="message-body">  
                    <form action="{% url 'filter' %}" method="post">
                        {% csrf_token %}

                        <strong> Жанры </strong> <br>
                        <div class="select is-info">    
                            {{ form.genre }}
                        </div><br>

                        <strong> Авторы </strong><br>
                        <div class="select is-info">    
                            {{ form.author }}
                        </div><br>

                        <strong> Издательства </strong><br>
                        <div class="select is-info">    
                            {{ form.publisher }}
                        </div><br>
                        <br>
                        <input class="button is-link" type="submit" value="Применить" />
                    </form>

                </div>
            </div>
        {% endif %}

        {% if sort_options %}
        <div class="message is-link">
            <div class="message-header">
                <strong >Сортировка</strong>
            </div>
            <div class="message-body">  
                {% for item in sort_options %}
                    <a href="{{ item.href }}">{{ item.title }}</a> <br>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

        
        <div class="column">
            {% block content %} {% endblock %}
        </div>
    </div>


</body>
</html>