{% extends "base.html" %}


{% block content %}
{% load static %}
<div id="contetnt" >
    <br>
    {% for book in books %}
    <div class="notification is-link is-light">
        <h1 class="title is-2"><a href="/books/{{book.slug}}">{{book.title}}</a></h1>
        <strong>Авторы:</strong>
            <p> 
                <il>
                {% for author in book.author.all %}
                    <li>{{author.name}}</li>
                {% endfor %}
                </il>
            </p>
        <strong>Описание:</strong>
            <p> {{book.description|truncatewords:30}}</p>
        <strong>Жанр:</strong>
            <p> {{book.genre.title}}</p>
        <strong> Издатель</strong>
            <p> {{book.publisher.title}}</p>
    </div>
    {% endfor %}
</div>


<script type="text/javascript" src="{% static 'js/index.js'%}"></script>
{% endblock %}
